<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500389842172-futru14re5akr588sn4r9niugfnigjcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500389842172-futru14re5akr588sn4r9niugfnigjcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBo1lNnJl07uDVlSJmp9efdml6WyRgZca8</string>
	<key>GCM_SENDER_ID</key>
	<string>500389842172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramStoryPlayer</string>
	<key>PROJECT_ID</key>
	<string>insta-story-player</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-story-player.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500389842172:ios:9370f2febc28a806421b79</string>
</dict>
</plist>